<!DOCTYPE html>
<html lang="sl">

<head>
	<% include partials/head %>
</head>

<body>
    <div id="wrapper">
		<% include partials/nav %>
		
		<div class="navbar-default sidebar" role="navigation">
	        <div class="sidebar-nav navbar-collapse">
	            <ul class="nav nav-pills nav-stacked">
	            	<li>
	                    <a id="a-home" href="#tab-home" data-toggle="pill">
	                    	<span class="glyphicon glyphicon-home" aria-hidden="true"></span>
	                    	Home
	                    </a>
	                </li>
	                <li>
	                    <a id="a-torrents" href="#tab-torrents" data-toggle="pill">
	                    	<span class="glyphicon glyphicon-picture" aria-hidden="true"></span>
	                    	Torrents
	                    </a>
	                </li>
	            </ul>
	        </div>
	        <!-- /.sidebar-collapse -->
	    </div>
    </div>
    
    <div id="page-wrapper" class="container">
    	<div class="tab-content">
    		<div id="tab-home" role="tabpanel" class="tab-pane fade active">
    			<div class="row">
    				<%
    				var sensorV = sensors.getSensors();
    				for (var sensorN = 0; sensorN < sensorV.length; sensorN++) { %>
    					<div class="col-xs-6 col-sm-6 col-md-3 col-lg-2">
    						<%
							var sensor = sensorV[sensorN];
							var val = sensors.getValue(sensor.id);
							%>
							<div id="thumb-<%= sensor.id %>" class="thumbnail">
								<div class="img-thumbnail thumbnail-img-wrapper">
									<div class="wrapper1">
										<img id="img-<%= sensor.id %>" src="<%= utils.getSensorImg(sensor); %>" alt="<%= sensor.name %>" />
									</div>
								</div>
								<div class="caption">
									<% if (sensor.type != 'dimmer') { %>
									<h4><%= sensor.name %>: <span class="pull-right"><span id="span-val-<%= sensor.id %>"><%= utils.formatVal(sensor, val); %></span><%= sensor.unit %><span></span></h4>
									<p><%= sensor.description %></p>
									<% } else { %>
									<div class="form-group">
										<label for="<%= sensor.id %>"><%= sensor.name %></label>
										<input id="<%= sensor.id %>" type="range" class="form-control" />
									</div>
									<% } %>
	      						</div>
	    					</div>
	  					</div>
    				<% } %>
				</div>
    		</div>
    		<div id="tab-torrents" role="tabpanel" class="tab-pane fade">
   				<iframe id="frame-torrents" src="http://torrents:tugomerjeva@legoberry.home:9091/transmission/web/"></iframe>
    		</div>
    	</div>
    </div>
    <!-- /#wrapper -->

     <% include partials/includejs %>
     <script type="text/javascript" src="js/bootstrap-slider.min.js"></script>
     <script type="text/javascript" src="js/index.js"></script>
</body>
</html>